{{$enabled := getv "/le/enabled"}}{{if eq $enabled "true"}}{{$maindomain := getv "/le/top"}}{{$expiring := getv "/le/expiring"}}{{$otherdomains := getv "/le/others"}}{{$usestage := getv "/le/stage"}}

export ENABLED=true
export ISSUED_EXPIRY_FILE="/etc/acme/issued_expiry"
export ISSUED_ODOMAINS_FILE="/etc/acme/issued_domains"
export EXP_DAYS="6912000" # 80 days
export LE_WORKING_DIR=/etc/acme
export CERT_KEY_PATH=/etc/acme/{{$maindomain}}/privkey.key
export CERT_PATH=/etc/acme/{{$maindomain}}/cert.cer
export CA_CERT_PATH=/etc/acme/{{$maindomain}}/ca_cert.cer
export MAIN_DOMAIN={{$maindomain}}
export OTHER_DOMAINS={{$otherdomains}}
export EXPIRING={{$expiring}}
{{if eq $usestage "true"}}export STAGE="use staging letsencrypt servers"{{end}}

{{else}}export ENABLED=false{{end}}
